#ProjectsContainer {
    padding-top: 50px;
    /* background-color: var(--ContentColour); */
    display: grid;
    width: 1200px;
    grid-template-areas:
    "header header media"
    "content content media"
    "header header media"
    "content content media";
    grid-template-rows: 60px auto 60px auto 60px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    margin: auto;
}
  
  @media only screen and (max-width: 1000px){
    #ProjectsContainer {
      width: 100%;
    }
  }
  
  #FootballerTitle {
    grid-area: header;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  #FootballerSummary {
    grid-area: content;
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  
  #FootballerMedia {
    grid-area: media;
    grid-column: 3;
    grid-row: 1 / span 2;
    width: 640px;
    height: 360px;
  }
  
  #LineBotTitle {
    grid-area: header;
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  
  #LineBotSummary {
    grid-area: content;
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  
  #LineBotMedia {
    grid-area: media;
    grid-column: 3;
    grid-row: 3 / span 2;
    width: 640px;
    height: 360px;
  }
  
  #FourYPTitle {
    grid-area: header;
    grid-column: 1 / span 2;
    grid-row: 5;
  }
  
  #FourYPSummary {
    grid-area: content;
    grid-column: 1 / span 2;
    grid-row: 6;
  }
  
  #FourYPMedia {
    grid-area: media;
    grid-column: 3;
    grid-row: 5 / span 2;
    width: 640px;
    height: 360px;
  }