:root {
    --backgroundColour: rgb(95, 75, 48);
}

#snake {
    position: relative;
    height: 850px;
    width: 750px;
    top: -400px;
    margin: auto;
}

#snakeHeader {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: blue;
}

#snakeGame {
    position: absolute;
    top: 100px;
    height: 750px;
    width: 750px;
    background-color: var(--backgroundColour);
}