@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
  --NameColour: rgb(0, 0, 0);
  --BannerColour: rgb(0, 0, 0);
  --BackgroundColour: rgb(224, 224, 224);
  --ContentColour: rgb(240, 240, 240);
  --PrimaryColour: rgba(0, 0, 0, 1);
  --SecondaryColour: rgba(0, 0, 0, 1);
  --TertiaryColour: rgba(134, 70, 70, 1);
}

html {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--BackgroundColour);
  color: rgb(0, 0, 0);
  height: 100%;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

main {
  margin-top: calc(100vw / 2.5);
}

h1 {
  text-align: center;
  font-size: 72px;
  color: var(--NameColour);
  font-family: 'Nanum Gothic', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

.mySlides {
  transition: opacity .5s ease-in;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mySlides + .mySlides { opacity: 0; }

.slideshowContainer {
  max-width: 100%;
}

h2 {
  font-size: 36px;
}

.Sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: black;
  overflow-x: hidden;
}

.Sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  text-decoration: none;
}

.OpenSidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 45px;
  width: 50px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 30px;
}