@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
  --NameColour: rgb(0, 0, 0);
  --BannerColour: rgb(0, 0, 0);
  --BackgroundColour: rgb(224, 224, 224);
  --ContentColour: rgb(240, 240, 240);
  --PrimaryColour: rgba(0, 0, 0, 1);
  --SecondaryColour: rgba(0, 0, 0, 1);
  --TertiaryColour: rgba(134, 70, 70, 1);
  --bodyWidth: 1200px;
}

html {
  height: auto;
  margin: 0px;
  background-image: url('./images/portfolioBackground.png');
  background-size: cover;
  background-repeat: repeat-y;
}

body {
  position: relative;
  height: auto;
  background-color: var(--BackgroundColour);
  color: rgb(0, 0, 0);
  width: var(--bodyWidth);
  margin: 0px auto;
  font-family: 'Nanum Gothic', sans-serif;
}

main {
  position: relative;
  width: var(--bodyWidth);
  background-color: var(--BackgroundColour);
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 72px;
  color: var(--NameColour);
  font-family: 'Nanum Gothic', sans-serif;
}

* {
  box-sizing: border-box;
}

.mySlides {
  transition: opacity .5s ease-in;
  width: var(--bodyWidth);
  position: absolute;
  top: 0;
}

.mySlides + .mySlides { opacity: 0; }

.slideshowContainer {
  width: var(--bodyWidth);
  background-color: var(--BackgroundColour);
  height: calc(var(--bodyWidth)/2.5);
}

h2 {
  font-size: 36px;
}

.Sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: black;
  overflow-x: hidden;
}

.Sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  text-decoration: none;
}

.OpenSidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 45px;
  width: 50px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 30px;
}

#headshot {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

#skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#skills ul {
  padding-left: 20px;
}

footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  padding-bottom: 20px;
}

footer h4 {
  grid-row: 1;
  padding-left: 20px;
  padding-top: 10px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-top: 10px;
}

footer ul li a {
  text-decoration: none;
  color: white;
  grid-row: 2;
}

#aboutMe {
  margin: 0px 20px;
}

#aboutMe h1 {
  margin: 10px 0px;
}

#aboutMe p {
  text-align: justify;
}

#turtle {
  float: left;
}

#skis {
  float: right;
}

.aboutMeImage {
  width: calc(var(--bodyWidth) / 2 - 40px);
  height: calc((var(--bodyWidth) / 2 - 40px) * 0.75);
  margin: 10px;
}

.card {
  border: none;
  background-color: var(--BackgroundColour);
}

@media only screen and (max-width: 1320px) {
  :root {
    --bodyWidth: 90vw;
  }
}

@media only screen and (max-width: 880px) {
  :root {
    --bodyWidth: 800px;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --bodyWidth: 100vw;
  }

  body {
    margin: 0px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 48px;
  }
}