@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
  --NameColour: rgb(0, 0, 0);
  --BannerColour: rgb(0, 0, 0);
  --BackgroundColour: rgb(224, 224, 224);
  --ContentColour: rgb(240, 240, 240);
  --PrimaryColour: rgba(0, 0, 0, 1);
  --SecondaryColour: rgba(0, 0, 0, 1);
  --TertiaryColour: rgba(134, 70, 70, 1);
}

html {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--BackgroundColour);
  color: rgb(0, 0, 0);
  height: 100%;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  text-align: center;
  font-size: 72px;
  color: var(--NameColour);
  font-family: 'Nanum Gothic', sans-serif;
}

.Banner {
  width: 100%;
  margin: 0;
  background-color: var(--BannerColour);
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


h2 {
  font-size: 36px;
}